.news {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.card_portfolio {
  margin-top: 62px;
  border-radius: 10px;
  // flex: 1 1 20%;
  max-width: 1285px;
  height: 483px;
  overflow: hidden;
  position: relative;

  &:hover {
    #active_card {
      transition: 0.8s;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      opacity: 0.8;
      width: 100%;

      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }

    transition: display 5s;

    .card_content {
      background: transparent;
      z-index: 99;
      transition: all 0.5s;

      // css
      bottom: 0;
      padding: 10px 20px;
      position: absolute;
      width: 100%;
      z-index: 3;
    }
  }
}
.img-card {
  height: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  z-index: -1;
  &:hover {
    transform: scale(2);
  }
}
.p {
  max-width: 759px;
  height: 147px;
  margin-bottom: 20px;
  margin-left: 50px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;

  color: #ffffff;
}
.link_portfolio {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
    // background-color: #20c997;
  }
}
.little_img {
  margin-top: -40px;
  display: flex;
  gap: 20px;
}
.card_portfolio3 {
  margin-top: 62px;
  border-radius: 10px;
  width: 415px;
  height: 300px;
  overflow: hidden;
  position: relative;

  &:hover {
    #active_card {
      transition: 0.8s;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      opacity: 0.8;
      width: 100%;

      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }

    transition: display 5s;

    .card_content {
      background: transparent;
      z-index: 99;
      transition: all 0.5s;

      // css
      bottom: 0;
      padding: 10px 20px;
      position: absolute;
      width: 100%;
      z-index: 3;
    }
  }
}
.p3 {
  max-width: 333px;
  height: 54px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}
.time {
  width: 119px;
  height: 30px;
  margin-left: 50px;
  margin-bottom: 20px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}
.time3 {
  width: 119px;
  height: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}

.tables {
  margin-top: 62px;
  width: 430px;
  height: 1123px;
  background: var(--table-grey);
  border-radius: 10px;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(199, 194, 194);
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }
}
.res {
  background-color: #a33c3c;
}
.top {
  display: flex;
  &-all {
    list-style: none;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding: 15px;
    color: var(--text);

  }
}
.num1 {
  margin-left: 149px;
  
}
.num2 {
  margin-left: -5px;
  
}
ul {
  display: flex;

  li {
    padding: 13px;
    list-style: none;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--text);
  }
}
ul:nth-child(even) {
  background-color: var(--table-soccer);
}
h3 {
  width: 74px;
  height: 33px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: var(--text);
  margin: 20px;
}
select {
  outline: none;
  padding: 10px;
  width: 100%;
  height: 48px;
  background: var(--table-soccer);
  border-radius: 6px;
  border: 1px solid #ddd;
  color: var(--text);
}
.comanda {
  margin-left: 41px;
}
.i {
  margin-left: 150px;
}
